
.editor-pane {
  width: 100%;
  height: 100%;
  position: relative;

}


.splitpanes {
  background: transparent !important;
}

.splitpanes__pane {
  background: #121212 !important;
}

.splitpanes--vertical > .splitpanes__splitter {
  min-width: 4px;
  background: #414243 !important;
}

.splitpanes--horizontal > .splitpanes__splitter {
  min-height: 4px;
  background: #414243 !important;
}


.el-breadcrumb__item > * {
  user-select: none !important;
  cursor: pointer !important;
}

.flex-grow-1 {
  flex-grow: 1;
}

@for $i from 1 through 4 {
  .mr-#{$i} {
    margin-right: #{$i * 0.5}rem;
  }
  .ml-#{$i} {
    margin-left: #{$i * 0.5}rem;
  }
}

.el-breadcrumb__inner {
  &:hover {
    color: white !important;
  }
}

.menu-bar-container {
  border-bottom: 2px solid #414243;
}